<div class="container">
  <div class="profile-container" *ngIf="user">
    <div class="profile-header">
      <img class="profile-picture" src="{{user.picture.large}}" alt="">
      <hr>
    </div>
    <div class="profile-content">
      <div class="profile-info">
        <span>Hi, My name is</span>
        <h2>{{user.name.first}} {{user.name.last}}</h2>
      </div>
      <div class="profile-options">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="face_4"></mat-icon>
      </div>
    </div>
  </div>
</div>