<div class="container">
  <div class="profile-container" *ngIf="user">
    <div class="profile-header">
      <img class="profile-picture" src="{{user.picture.large}}" alt="">
      <hr>
    </div>
    <div class="profile-content">
      <div class="profile-info">
        <span>Hi, My {{profileInfo}} is</span>
        <h2>{{user.name.first}} {{user.name.last}}</h2>
      </div>
      <div class="profile-options">
        <mat-icon class="profile-icons active" data-tooltip="Nombre">face_4</mat-icon>
        <mat-icon class="profile-icons" data-tooltip="Correo electrónico">mail</mat-icon>
        <mat-icon class="profile-icons" data-tooltip="Fecha nacimiento">calendar_month</mat-icon>
        <mat-icon class="profile-icons" data-tooltip="Direccion">directions</mat-icon>
        <mat-icon class="profile-icons" data-tooltip="Telefono">call</mat-icon>
        <mat-icon class="profile-icons" data-tooltip="Password">lock</mat-icon>
      </div>
    </div>
  </div>
</div>